* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: white;
  background-position: center;
  background-size: 100%;
  margin-top: 300px;
  width: 960px;
  display: flex;
  margin: auto;
}

/* BLOQUE 1 */
.contenedor {
  display: flex;
  width: 960px;
  justify-content: center;
  height: 525px;
  background-image: url(https://i.postimg.cc/TYd6vj5m/image-1-1.png);
  background-size: cover;
  background-position: center;
  align-items: center;
}
.contenedor_uno {
  display: flex;
  flex-direction: column;
}
.contenedor_uno h1 {
  display: flex;
  width: 200px;
  justify-content: center;
  margin-bottom: 180px;
  padding-left: 40px;
  font-size: 50px;
  color: aliceblue;
  margin-left: 255px;
}
.info {
  display: flex;
  width: 300px;
  font-size: 36px;
  line-height: 42px;
  color: aliceblue;
  margin-right: 500px;
  margin-bottom: 80px;
  background: rgba(114, 153, 254, 0.5);
  border-radius: 10px;
  text-align: center;
}
/* BLOQUE 2 */
.contenedor_dos {
  display: flex;
  width: 960px;
  justify-content: center;
  height: 424px;
  background-color: rgba(114, 153, 254, 1);
}
.sobremi {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-top: 20px;
  font-weight: bolder;
  color: rgba(29, 6, 167, 1);
}
.texto {
  color: rgba(248, 248, 248, 1);
  font-size: 14px;
  width: 800px;
  line-height: 24px;
  margin-top: 50px;
}
.curriculum {
  display: flex;
  background-color: rgba(209, 111, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 187px;
  height: 62px;
  border-radius: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.cv {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.skills-color {
  background: #9022ff;
  height: 600px;
  
}
h2 {
  text-align: center;
  color: #26cc4b;
  font-size: 36px;
  line-height: 100px;
}
.skills {
  max-width: 800px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.skills-sub {
  margin-bottom: 15px;
}

.bar {
  height: 20px;
  background-color: #fff;
  border-radius: 10px;
  animation: test 2s forwards;
}
.bar1 {
  height: 20px;
  background-color:black;
  border-radius: 10px;
  animation: bar1 2s forwards;
}
.bar2 {
  height: 20px;
  background-color:black;
  border-radius: 10px;
  animation: bar2 2s forwards;
}
.bar3 {
  height: 20px;
  background-color:black;
  border-radius: 10px;
  animation: bar3 2s forwards;
}
.bar4 {
  height: 20px;
  background-color:black;
  border-radius: 10px;
  animation: bar4 2s forwards;
}
.bar5 {
  height: 20px;
  background-color:black;
  border-radius: 10px;
  animation: bar5 2s forwards;
}
.bar6 {
  height: 20px;
  background-color:black;
  border-radius: 10px;
  animation: bar6 2s forwards;
}
@keyframes test {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar1 {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
@keyframes bar2 {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
@keyframes bar3 {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}
@keyframes bar4 {
  0% {
    width: 0;
  }
  100% {
    width: 10%;
  }
}
@keyframes bar5 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes bar6 {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
@font-face {
  font-family: "Arial-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/653a98e4fe9c72e81aaadc15/fonts/audiowide-regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Arial-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/653e91e15650ba167f907146/fonts/fontsfree-net-arial-bold.ttf")
    format("truetype");
}

.PORTFOLIO {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.PORTFOLIO .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 960px;
  position: relative;
}
.PORTFOLIO .super-posicion-1 {
  position: relative;
  width: 960px;
  height: 424px;
  background-color: #ffd232;
}
.PORTFOLIO .text-portafolio {
  position: absolute;
  top: 42px;
  left: 399px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #00ad83;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.PORTFOLIO .image-1 {
  position: absolute;
  width: 140px;
  height: 92px;
  top: 236px;
  left: 641px;
}

.PORTFOLIO .image-2 {
  position: absolute;
  width: 142px;
  height: 92px;
  top: 235px;
  left: 486px;
}
.PORTFOLIO .image-3 {
  position: absolute;
  width: 140px;
  height: 92px;
  top: 236px;
  left: 335px;
}

.PORTFOLIO .image-4 {
  position: absolute;
  width: 140px;
  height: 92px;
  top: 236px;
  left: 182px;
}

.PORTFOLIO .image-5 {
  position: absolute;
  width: 140px;
  height: 92px;
  top: 130px;
  left: 641px;
}

.PORTFOLIO .image-6 {
  position: absolute;
  width: 140px;
  height: 92px;
  top: 130px;
  left: 486px;
}

.PORTFOLIO .image-7 {
  position: absolute;
  width: 140px;
  height: 92px;
  top: 130px;
  left: 334px;
}

.PORTFOLIO .image-8 {
  position: absolute;
  width: 140px;
  height: 92px;
  top: 130px;
  left: 183px;
}

/* cristhian */
.contenedor_cinco {
  display: flex;
  width: 960px;
  height: 258px;
  background-color: rgba(63, 78, 98, 1);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cuatro_image {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.mover_image {
  margin-bottom: 5px;
}
.clientes {
  color: rgba(173, 255, 40, 1);
}

/* cesar */

.main {
  background: #1687a0;

  width: 960px;
  height: 600px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Arial-Bold", Helvetica;
}

.conteiner-input {
  width: 960px;

  /* / border: solid rgb(0, 255, 119); / */

  justify-content: center;
  margin-top: 40px;
}

/* / .titulo / */

.titulo {
  color: #ff1b1b;
  text-align: center;
  font-size: 41px; 
  font-family: "Arial-Bold", Helvetica;
}

.titulo:hover{
  color: black;

}
input {
  width: 363px;
  height: 59px;
  margin-top: 35px;
  margin-left: 25px;
  
  
}

.descripcion {
  /* / border: solid; / */
  width: 759px;
  height: 112px;
}

.boton {
  background: #233451;
  width: 167px;
  height: 56px;
  color: white;
  
}

.boton:hover {
  background: black;
  color: #0fe63e;

}
.containerboton {

  display: flex;
  justify-content: center;
}

input:hover{
  /* background: black; */
  color: #0fe63e;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  background: rgb(17,17,17);
  background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(29,30,30,0.9781162464985994) 55%, rgba(13,215,203,1) 100%);

}

