*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
    background-position: center;
    background-size: 100%;
    margin-top: 300px;
    width: 960px;
    display: flex;
    margin: auto;
}
.skills-color{
    background: #9022FF;
    height: 600px;
    
}
h2{
    text-align: center;
    color: #26CC4B;
    font-size: 36px;
    line-height: 100px;
}
.skills {
    max-width: 800px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;

        
}

.skills-sub {
    margin-bottom: 15px;
}

.bar {
    height: 20px;
    background-color: #fff;
    border-radius: 10px;
    animation: test 2s forwards;
}
.bar1{
    height: 20px;
    background-color: black;
    border-radius: 10px;
    animation: bar1 2s forwards;
 
}
.bar2{
    height: 20px;
    background-color: black;
    border-radius: 10px;
    animation: bar2 2s forwards;
 
}
.bar3{
    height: 20px;
    background-color: black;
    border-radius: 10px;
    animation: bar3 2s forwards;
 
}
.bar4{
    height: 20px;
    background-color: black;
    border-radius: 10px;
    animation: bar4 2s forwards;
 
}
.bar5{
    height: 20px;
    background-color: black;
    border-radius: 10px;
    animation: bar5 2s forwards;
 
}
.bar6{
    height: 20px;
    background-color: black;
    border-radius: 10px;
    animation: bar6 2s forwards;
 
}
@keyframes test {
    0%{width: 0;}
    100%{width: 100%;}

}

@keyframes bar1 {
    0%{width: 0;}
    100%{width: 40%;}

}
@keyframes bar2 {
    0%{width: 0;}
    100%{width: 30%;}

}
@keyframes bar3 {
    0%{width: 0;}
    100%{width: 20%;}

}
@keyframes bar4 {
    0%{width: 0;}
    100%{width: 10%;}

}
@keyframes bar5 {
    0%{width: 0;}
    100%{width: 50%;}

}
@keyframes bar6 {
    0%{width: 0;}
    100%{width: 30%;}
}